/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
   
    /* background: url(assets/ce.jpg) no-repeat !important; */
    background-color: #4F4F51 !important;
   
}

#demo-container{
    background-color: white;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    color: white !important; 
    text-decoration: none;
}
.hidden{
    display: none !important;
}
.title{
    padding: 5px 0px 0px 25px;
    }

    .pad-15{
        padding: 15px;
    }